<div class="card item item--detailed padding-top padding-bottom padding-left padding-large-right padding-large-left">
	<div class="row">
		<div class="col-xs-9 col-sm-10 vcenter">
			<a class="item__title" target="_blank" href="<%= link %>">
				<h2><%= title %></h2>
			</a>
		</div><!--
		--><div class="col-xs-3 col-sm-2 vcenter text-right">
			<div id="back">
				<a href="#<%= item_link %>" class="btn btn-primary">Back</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="item__meta">
				<a target="_blank" href="<%= author_link %>">Post author</a><!--
				--><span class="separator">|</span><!--
				--><span>Published: </span><!--
				--><span><%= date_formatted %></span><!--
				--><span class="separator">|</span><!--
				--><a class="btn btn-xs btn-danger" href="https://plus.google.com/share?url=<%= link %>" title="Share on Google+">+1</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 text-center">
			<a target="_blank" href="<%= link %>">
				<img class="item__image" src="<%= media.m %>" alt="<%= title %>">
			</a>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="item__description"><%= description %></div>
			<div class="item__tags">
			       <% for(var tag in tags_list) { %>
        				<a class="btn btn-warning" href="#search/<%= tags_list[tag] %>"><%= tags_list[tag] %></a>
       				<% } %>
  			</div>
		</div>
	</div>
</div>